@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

/* Global reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sauce One', sans-serif;
  background: #f5f3f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
